PORT=3002

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=tirehub
DB_PASSWORD=tirehub_secret
DB_DATABASE=tirehub

ELASTICSEARCH_NODE=http://localhost:9200
ELASTICSEARCH_INDEX=products

RABBITMQ_URL=amqp://tirehub:tirehub_secret@localhost:5672
